table{
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    margin-left: 10px;
     margin-top: 20px;
    margin-right: 10px;

  } 
table,tr,td{
    padding:20px ;
}
table{
    margin-top: 10px;
}
h3{
    font-style: italic;

}
.abc{
    text-align: center;
    
}
#ef{
      
    padding: 9px 25px;
    background-color: #e33780;
    background-image: linear-gradient(to right ,120deg,rgb(255,0,144), rgb(255 , 0 , 144) 55%, rgb(0, 222 ,255), rgb(0 ,222 ,255) 45%);
    border: mediumturquoise;
    outline: skyblue;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    font-style: italic;
    font-weight: bold;
    
}